*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.field {
display: grid;
grid-template-columns: repeat(var(--columnAmmount), 40px);
border: rgb(160, 172, 0) 1px solid;
}
@media(max-width: 500px){
  .field{
    grid-template-columns: repeat(var(--columnAmmount), 30px);
  }
}


.containerField{
  position: relative;
  border: yellowgreen 2px solid;
}

p{
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  height: 40px;
  width: 40px;
  font-size: 24px;
  border: rgb(4, 168, 72) 1px solid;
  color:black;
  background-color:rgb(252, 252, 218)
}

@media(max-width: 500px) {
  p {
    height: 30px;
    width: 30px;
  }
}

img {
  height: inherit;
  width: inherit;
}

.displayTime {
  display: flex;
  justify-content: center;
  border: rgb(55, 120, 240) 1px solid;
  width: inherit;
  font-size: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(222, 238, 1);
  color: rgba(94, 146, 224, 0.986);
}

.colorCode0{
  background-color: rgb(215, 216, 211);
}

.colorCode1{
  background-color: rgb(252, 199, 85);
  color: green;
}

.colorCode2{
  background-color: rgb(241, 138, 70);
  color: rgb(202, 251, 68);
}

.colorCode3{
  background-color: rgb(233, 38, 168);
  color: rgb(127, 249, 180);
}

.colorCode4{
  background-color: rgb(196, 9, 40);
  color: rgb(244, 175, 194);
}

.colorCode5{
  background-color: rgb(160, 18, 255);
  color: rgb(71, 238, 168);
}

.colorCode6{
  background-color: rgb(18, 22, 255);
  color: rgb(62, 231, 88);
}

.colorCode7{
  background-color: rgb(7, 203, 252);
  color: rgb(20, 9, 98);
}

.colorCode8{
  background-color: rgb(7, 252, 68);
  color: rgb(243, 54, 21);
}

.windowOver{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top:0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  z-index: 2;
  font-size: 25px;
}

.buttonRepeat {
  width: 80px;
  height: 40px;
  background-color:darkgoldenrod;
  text-align: center;
  font-size: 30px;
  margin: 30px 0 0 0;
  border: 4px rgb(196, 9, 40) solid;
}

.windowWinner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgb(199, 252, 9);
  z-index: 2;
  font-size: 25px;
}

.buttonWinner {
  width: 80px;
  height: 40px;
  background-color:rgb(46, 184, 11);
  text-align: center;
  font-size: 30px;
  margin: 30px 0 0 0;
  border: 4px rgb(211, 85, 106) solid;
}

.buttonFlag {
  background-color:rgb(226, 247, 152);
  border: yellowgreen 2px solid;
  width: 100%;
  font-size: 30px;
  padding: 0 0 3px 0;
  color: rgb(73, 92, 128);
}

.activFlagMode{
  background-color:rgb(177, 109, 241)
}

.optionMode {
  display: flex;
  width: 100%;
  font-size: 30px;
  color: rgb(73, 92, 128);
}

.buttonRestart {
  background-color:rgb(226, 247, 152);
  border: yellowgreen 2px solid;
  width: 100%;
  font-size: 30px;
  color: rgb(73, 92, 128);
}

.buttonDifficult{
  background-color:rgb(226, 247, 152);
  border: yellowgreen 2px solid;
  width: 100%;
  font-size: 30px;
  color: rgb(73, 92, 128);
}